# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
env/
venv/
.venv/

# Django stuff
*.log
db.sqlite3
staticfiles/
media/

# Local secrets
.env
*.env

# macOS
.DS_Store

# VSCode settings
.vscode/
